# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are :
1. Python
2. R
3. SQL
4. C++
5. Java 
etc ...;

Some of the commonly used libraries by Data Scientists include : 
1. TensorFlow 
2. Numpy
3. Scipy
4. Pandas
5. Matplotlib 
6. keras 
7. SciKit-learn

|Data Science Tools|
|----|
|SAS|
|Apache Hadoop|
|TensorFlow|

### Below are a few example of evaluating arithmetic expressions in Python.

In [27]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [29]:
#This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

__Objectives__
* List popular languages for Data Science 
* List popular libraries for Data Science 
* List of well known Data Science Tools 
* How to provide cpomments in the cell

## Author
MRINI IBTISSAM